copiar el constructor inicializando cellHeight, contexts y repo

setter + getter p/ cellHeight

estilos

multicell
checkPageBreack
nbLinesRow

Table:
-> generar Id
-> anchos de c/ columna
-> alineación de c/ columna
-> puede tener o no un header
-> print
->nbLines

Row:
-> celdas
-> ancho de cada celda
-> ancho total real
-> style callback

Cell:
->print
->content (string o Table)
->style callback

Context:
->tipo (table, row, cell)
->imprimible